.ContactData{
    margin: 20px auto;
    width: 60%;
    text-align: center;
    border:1px solid #eee;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: 5px 5px 10px #eee;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-widh: 600px){
    .ContactData{
        width: 500px;
    }
}